<!DOCTYPE HTML>
<html>
<head>
    <title>Url shortener</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<h1>Url Shortener</h1>
<form action="/contractions" method="post">
    <table>
        <tr>
            <td><label for="url">Url:</label></td>
            <td><input type="text" id="url" name="url" required="required"/></td>
        </tr>
        <tr>
            <td><input type="submit" value="Submit"/></td>
        </tr>
    </table>
</form>
</body>
</html>